<h2>Listado de citas</h2>
<hr>
<br>
<a routerLink="/cita/create">Nueva Cita</a>
<br><br>
<div *ngIf="citas()" >
  <table>
    <thead>
      <td>Id Cita</td><td>Id Usuario</td><td>Descripcion</td><td>Lugar</td><td>Fecha</td><td>Estado</td><td></td>
    </thead>
    <tbody *ngFor="let cita of citas()">
      <tr><td> {{cita.citaId}}</td><td>{{cita.usuarioId}}</td><td>{{cita.descripcion}}</td>
        <td>{{cita.lugar}}</td><td>{{cita.fechaCita | date:'dd/MM/yyyy'}}</td><td>{{cita.estado}}</td>
        <td><a [routerLink]="['/cita/edit', cita.citaId]">Editar</a> | <a [routerLink]="['/cita/delete', cita.citaId]">Eliminar</a> </td>
      </tr>
    </tbody>
  </table>
 
  <h2>Datos:</h2>
    <pre>{{ citas() | json }}</pre>
</div>


