<h2>Listado de citas</h2>
<hr>
<br>
<a routerLink="/cita/create">Nueva Cita</a>
<br><br>
<div *ngIf="citas()">
  <table>
    <thead>
      <tr>
        <th>Id Cita</th>
        <th>Id Usuario</th>
        <th>Descripcion</th>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let cita of citas()">
      <tr>
        <td> {{cita.citaId}}</td>
        <td>{{cita.usuarioId}}</td>
        <td>{{cita.descripcion}}</td>
        <td>{{cita.lugar}}</td>
        <td>{{cita.fechaCita | date:'dd/MM/yyyy'}}</td>
        <td class="td-estado">{{cita.estado}}</td>
        <td><a [routerLink]="['/cita/edit', cita.citaId]">Editar</a> | <a
            [routerLink]="['/cita/delete', cita.citaId]">Eliminar</a> </td>
      </tr>
    </tbody>
  </table>
