<h1>Eliminar Cita</h1>
<hr><br>
<p>Desea eliminar la cita con la siguiente informacion ? </p>
<table>
  <thead>
    <td>Id Cita</td><td>Id Usuario</td><td>Descripcion</td><td>Lugar</td><td>Fecha</td><td>Estado</td><td></td>
  </thead>
  <tbody>
    <tr><td> {{currentCita()?.citaId}}</td><td>{{currentCita()?.usuarioId}}</td><td>{{currentCita()?.descripcion}}</td>
      <td>{{currentCita()?.lugar}}</td><td>{{currentCita()?.fechaCita | date:'dd/MM/yyyy'}}</td><td>{{currentCita()?.estado}}</td>
  </tbody>
</table>
<br><br>
<button type="button" (click)="deleteCita(true)"  class="btn">Si</button> 
<button type="button" (click)="deleteCita(false)" class="btn">No</button>