$primary-color: #3498db
$secondary-color: #2ecc71
$text-color: #333
$border-radius: 5px


@mixin btn-style($color) 
  background-color: $color
  color: white
  border: none
  padding: 10px
  border-radius: 5px
  cursor: pointer
  margin: 10px

.citas-container
    max-width: 600px
    margin: 0 auto
    padding: 20px
    background-color: #f9f9f9
    border-radius: $border-radius
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

.citas-lista
  list-style: none
  padding: 0

.cita-info
  margin-bottom: 15px
  p
    color: $text-color

.editar-btn
  @include btn-style($primary-color)

.eliminar-btn
  @include btn-style($secondary-color)

.nuevo-btn
  @include btn-style($primary-color)
  
@function change-color($color, $amount)
  @return darken($color, $amount)

.btn-eliminar 
  background-color: #e74c3c 
  color: white
  padding: 10px 20px
  border: none
  border-radius: 5px
  cursor: pointer

  &:hover 
    background-color: change-color(#e74c3c, 10%)
