<div class="div-card">
  <h3>Editar cita</h3>
  <form (ngSubmit)="actualizarCita()" #citaForm="ngForm" class="form-grid">
    <label for="usuario">Usuario:</label>
    <select id="usuario" [(ngModel)]="cita.idUsuario" name="usuario" required>
      <option value="0">Selecciona un usuario</option>
      <!-- Opcional para que no se envíe vacío -->
      <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
        {{ usuario.idUsuario }} - {{ usuario.nombre }} {{ usuario.apellido }}
      </option>
    </select>

    <label for="fecha">Fecha de la Cita:</label>
    <input
      id="fecha"
      type="datetime-local"
      [(ngModel)]="cita.fechaCita"
      name="fecha"
      required
    />

    <label for="descipcion">Descripción:</label>
    <input
      type="text"
      id="descipcion"
      [(ngModel)]="cita.descipcion"
      name="descipcion"
      required
    />

    <label for="lugar">Lugar:</label>
    <input
      type="text"
      id="lugar"
      [(ngModel)]="cita.lugar"
      name="lugar"
      required
    />

    <label for="estado">Estado:</label>
    <input
      type="text"
      id="estado"
      [(ngModel)]="cita.estado"
      name="estado"
      required
    />

    <button type="submit" class="button-primary" [disabled]="!citaForm.valid">Editar Cita</button>
  </form>
</div>
