<h3>Actualizar Appointment</h3>

<form (ngSubmit)="UpdateAppointment()" [formGroup]="myForm">
    <label for="userId">UserId:</label>
    <input type="text" id="userId" formControlName="UserId" required>
    <div *ngIf="myForm.get('UserId')?.invalid && myForm.get('UserId')?.touched">
        UserId is required
    </div>

    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="Description" required>
    <div *ngIf="myForm.get('Description')?.invalid && myForm.get('Description')?.touched">
        Description is required
    </div>

    <label for="appointmentDate">Date:</label>
    <input type="date" id="appointmentDate" formControlName="AppointmentDate" required>
    <div *ngIf="myForm.get('AppointmentDate')?.invalid && myForm.get('AppointmentDate')?.touched">
        Date is required
    </div>

    <label for="site">Site:</label>
    <input type="text" id="site" formControlName="Site" required>
    <div *ngIf="myForm.get('Site')?.invalid && myForm.get('Site')?.touched">
        Site is required
    </div>

    <label for="state">State:</label>
    <input type="text" id="state" formControlName="State" required>
    <div *ngIf="myForm.get('State')?.invalid && myForm.get('State')?.touched">
        State is required
    </div>

    <button type="submit" [disabled]="myForm.invalid">Update Appointment</button>
    <button type="button" routerLink="/appointment/list">Cancel</button>
</form>